@import "../../assets/page";

.expense-chart-content{
  position: relative;
  height: 75vh;
  width: 100%;
  margin-top: 15px;
}

.dash-expense-filter{
  margin-top: 15px;
}

.dash-expense-filter select{
   width: 200px;
}

.pie-graph-card {
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.dash-filter{
    margin-top: 20px;
    margin-bottom: 20px;
}

.pie-chart-content{
    width: 70%;
    margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ranking-title{
   font-size: 1em;
}

.categories-progress {
   margin-bottom: 13px;
}

.dashboard-card-header{
    background: #d24c87;
    color: #fff;
}

.categories-container {
    height: 500px;
    overflow: auto;
}


@include media-breakpoint-between(sd, md) {
  .pie-graph-card{
      width: 95%;
   }

  .pie-chart-content{
    width: 100%
  }

   .period-filter-content{
     margin-top: 15px;
   }

  .dashboard-columns{
     margin-bottom: 20px;
  }
}