.expense-chart-content{
  position: relative;
  height: 75vh;
  width: 100%;
  margin-top: 15px;
}

.dash-expense-filter{
  margin-top: 15px;
}

.dash-expense-filter select{
   width: 200px;
}