@import "../../assets/page";

.transaction-form-rows {
    margin-bottom: 10px;
}

.checked-row{
    background: #f6c4dc !important;
}

.installment-table{
    margin-left: 5px;
}

.installment-table-input-size{
    width: 200px;
}


@include media-breakpoint-between(sd, md) {

}