.page-subtitle{
  font-size: 0.8em;
  color:#d24c87!important;
}

.page-title{
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 14px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 12px;
}