@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

.custom-navbar{
    background: #d24c87!important;
}

.nav-link{
  color: #fff!important;
}

.nav-link:hover{
   background: #a62f63;
}

.navbar-brand{
    color: #ffffff;
}

.dropdown-menu{
    background: #c52877!important;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
}


@include media-breakpoint-between(sd, md) {
  .main-container {
     padding: 0;
  }
}