.custom-navbar{
    background: #d24c87!important;
}

.nav-link{
  color: #fff!important;
}

.nav-link:hover{
   background: #a62f63;
}

.navbar-brand{
    color: #ffffff;
}

.dropdown-menu{
    background: #c52877!important;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
}